

.body {
    display: flex;
    position: relative;
    color: rgba(19, 216, 197, .5);
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
    font-size: 100px;
    align-items: center;
}

.L {
    top: 85px;
    left: 140px;
    text-shadow: 0 1px 0 rgba(19, 216, 197, .5),
        0 2px 0 rgba(19, 216, 197, .5),
        0 3px 0 rgba(19, 216, 197, .5),
        0 4px 0 rgba(19, 216, 197, .5),
        0 5px 0 rgba(19, 216, 197, .5),
        0 6px 0 rgba(19, 216, 197, .5),
        0 6px 3px rgba(1, 1, 1, 0.80),
        0 6px 10px rgba(1, 1, 1, 0.20);
}

.ADING {
    top: 85px;
    left: 285px;
    text-shadow: 0 1px 0 rgba(19, 216, 197, .5),
        0 2px 0 rgba(19, 216, 197, .5),
        0 3px 0 rgba(19, 216, 197, .5),
        0 4px 0 rgba(19, 216, 197, .5),
        0 5px 0 rgba(19, 216, 197, .5),
        0 6px 0 rgba(19, 216, 197, .5),
        0 6px 3px rgba(1, 1, 1, 0.80),
        0 6px 10px rgba(1, 1, 1, 0.20);
}

.outter {
    top: 100px;
    left: 200px;
    width: 80px;
    height: 80px;
    border-radius: 80px 0 0 80px;
    border-left: solid 5px rgba(19, 216, 197, .5);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.mid {
    top: 15px;
    left: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px 0 0 50px;
    border-left: solid 5px rgba(0, 254, 229, 0.5);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}