* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  height: var(--tg-viewport-height);
}

.logo {
  margin: 40px 0 20px 0;
}

.logo__name {
  display: flex;
  align-items: center;
  font-size: 65px;
}


.logo__title {
  margin: 10px 0 5px 0;
  font-size: 20px;
  text-align: center;
}

.video-bg {


  display: flex;
  justify-content: center;
  position: relative;
}

.video-bg video {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.block__content__home,
.block__content__about,
.block__content__request,
.block__content__exchange,
.block__content__support,
.block__content__valuation {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 40px;
}

.block__content__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}

.block__content__support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}

.block__content__valuation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}

.container__valuation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}

.container__text {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding-inline: 10px;
  gap: 15px;
}

.container__text__support {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding-inline: 10px;
}


.container__text h1,
.container__text__support h1,
.container__valuation h1 {
  margin: 20px 0px;
}

.text__about,
.text__support {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.effects {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgb(2, 10, 21, 0.9);
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 400;
}

.exchange,
.close {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 15px;
}

.close {
  margin: 20px 7px 0 7px;
}

li {
  user-select: none;
  background-color: rgba(19, 216, 197, 0.5);
  margin: 7px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;

}

.btn__back__home,
.btn__chat__tg {
  user-select: none;
  border: 1px solid blue;
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

li:active,
.btn__back__home:active,
.btn__chat__tg:active {
  background-color: rgba(5, 51, 116, 0.3);
}

.link,
.btn__close,
.link__tg {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 35px;
}

.link__tg {
  padding: 5px 0;
}

.buy,
.sell {
  font-size: 1rem;
  margin: 0;
}

.well {
  font-size: 32px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}

.container__buy {
  margin-bottom: 7.5px;
}

.container__sell {
  margin-top: 7.5px;
}