.container__users {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    position: relative;
    color: white;

}

.zagolovok {
    margin: 10px 0;
}


.block__info{
    font-size: 10px;
    border-collapse: collapse;
}

.td,
.th {
    border: 1px solid #00acc8;
    border-left-width: 0;
    padding: 5px;
    vertical-align: top;
    line-height: 1.2;
}

.td:first-child,
.th:first-child {
    text-align: left;
    padding-left: 0;
}
