.container__requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.block__req {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 350px;
}

.request__info__box {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    border-radius: 25px;
    border-bottom: 2px solid rgba(19, 216, 197, .5);
}

.status {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.block__status {
    display: flex;
    gap: 15px;
    margin-block: 15px;
}

.btn_block_status {
    display: flex;
    justify-content: space-around;
}

.status__accepted,
.status__rejected {
    margin-block: 20px;
    background-color: rgba(19, 216, 197, .5);
    border: none;
    font-size: 25px;
    color: white;
    padding: 5px;
    border-radius: 11px;
    user-select: none;
}



.date {
    margin: 0 0 0 auto;
    color: gray;
}

.number,
.sum,
.firstName,
.lastName,
.userName,
.firstNametg {
    color: white;
}

.zagolovok {
    margin: 30px 0;
    font-size: 35px;
}



.search__input {
  color: white;
  font-size: 20px;
  background: rgb(13 150 180 / 30%);
  border: none;
  margin: 5px 0 15px 15px;
  width: 350px;
  height: 37px;
  border-radius: 6px;
  padding: 10px;
}

.search__input:focus-visible {
  outline: none;
  border-color: #008aa0;
}

.zagolovok__search {
  margin: 0 0 0 15px;
}

.zagolovok__count__users{

    margin: 10px 0 0 15px ;
}

.count__users {
  padding-left: 5px;
  color: gray;
}
